@model webgame.Models.SanPham
@{
    ViewBag.Title = "Them";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Thêm Game</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>ID (Mặc Định & Tự Tăng)</label>
                                        <input type="text" class="form-control" disabled placeholder="ID">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tên Game</label>
                                        <input type="text" class="form-control" name="txttengame">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Hãng Game</label>
                                        <br />
                                        @Html.DropDownList("Masx")
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Thể Loại</label>
                                        <br />
                                        @Html.DropDownList("Maloai")
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Hình Ảnh</label>
                                            <input type="file" class="form-control" name="txthinhanh">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Giới Hiệu Chung</label>
                                        <textarea rows="5" class="form-control" name="txtgioithieu"></textarea>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tiêu Biểu</label>
                                        <input type="checkbox"  name="txttieubieu">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Khuyến Mãi</label>
                                        <input type="checkbox"  name="txtkhuyenmai">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Video</label>
                                        <input type="text" class="form-control" name="txtvideo">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Giá</label>
                                        <input type="number" class="form-control" name="txtgia">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Hệ số khuyến mãi</label>
                                        <input type="text" class="form-control" name="txthskm">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Ngày Đăng</label>
                                        <input type="date" class="form-control" name="txtngaydang" id="ngay">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Cấu Hình</label>
                                        <textarea rows="5" class="form-control" name="txtcauhinh"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Dòng Máy</label>
                                        <br />
                                        @Html.DropDownList("Mahm")
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Thêm Game</button>
                            <button type="button" class="btn database"><a href="@Url.Action("Databse","Database")">Về Database</a></button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..." />
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="~/assets/img/faces/index2.jpg" alt="..." />
                                <h4 class="title">
                                    DucVM<br />
                                    <small>(ProssVM)</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center">
                            "ProssVM <br>
                            Hãy sống cuộc đợi của bạn và <br>
                            đừng bao giờ gục ngã (Never Give Up)"
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="https://www.facebook.com/duc.vm.7" target="_blank" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;
        document.getElementById("ngay").value = today;
    </script>

